#add-btn {
    background-color: #f28d35;   
    color: white;
}

#add-btn:hover {
    opacity: 0.8;
}

.add-expnese-btn {
    background-color: #f28d35;   
    border:1px solid #f28d35;
    color: white;
}

.add-expnese-btn:hover {
    opacity: 0.9;
}

#reset-btn {
    border:1px solid #f28d35;
}

.tab-color {
    background-color: #f28d35 !important;
}

/* footer */
footer {
    background-color: #e7e7e7; 
    opacity: 0.8;
}

.header {
    background-color: #e7e7e7; 
    opacity: 0.8;
}

.header-text {
    color: #f28d35;
}