#add-btn {
    background-color: #f28d35;   
    color: white;
}

#add-btn:hover {
    opacity: 0.8;
}

.add-expnese-btn {
    background-color: #f28d35;   
    border:1px solid #f28d35;
    color: white;
}

.add-expnese-btn:hover {
    opacity: 0.9;
}

#reset-btn {
    border:1px solid #f28d35;
}

#logout-btn {
    background-color: #f28d35;   
    border:1px solid #f28d35;
    color: white;
}

#logout-btn:hover {
    opacity: 0.8;
}

#index-amount {
    font-size: 20px;
    font-weight: bold;
}

.consumption-color {
    background-color: #96a6fb;
}

.investment-color {
    background-color: #a3f8b5;
}

.waste-color {
    background-color: #faa3b6;
}

.tab-color {
    background-color: #f28d35 !important;
}

.icon {
    color:#f28d35; 
}

/* footer */
footer {
    background-color: #e7e7e7; 
}

.header {
    background-color: #e7e7e7; 
    opacity: 0.8;
}

.header-text {
    color: #f28d35;
}