#add-btn {
    background-color: #f28d35;   
    color: white;
}

#add-btn:hover {
    opacity: 0.8;
}

.add-expnese-btn {
    background-color: #f28d35;   
    border:1px solid #f28d35;
    color: white;
}

.add-expnese-btn:hover {
    opacity: 0.9;
}

#reset-btn {
    border:1px solid #f28d35;
}

#logout-btn {
    background-color: #f28d35;   
    border:1px solid #f28d35;
    color: white;
}

#logout-btn:hover {
    opacity: 0.8;
}

#index-amount {
    font-size: 20px;
    font-weight: bold;
}

.arrow {
    color: #3b3e3b;
}

.arrow:hover {
    opacity: 0.8;
}
.consumption-color {
    background-color: #96a6fb;
}

.investment-color {
    background-color: #a3f8b5;
}

.waste-color {
    background-color: #faa3b6;
}

.tab-color {
    background-color: #f28d35 !important;
}

.cala-icon {
    color:#f28d35; 
}

.month-btn {
    border: none;
    background-color: #f4f5fb;
    font-size: 2rem; 
}

.amount-text {
    font-size: 12px;
    color: red;
}

.date {
    color: #ccc;
}

.base {
    background-color: #f5f6f8;
}

.bi-lg {
    font-size: 2rem;
}

.today-color {
    background-color: #9cfeb3;
}

.calendar-col {
    width: 30px;
}

.cal-icon {
    color: #f28d35;
}

.item {
    font-size: 15px;
}

/* footer */
footer {
    background-color: #e7e7e7; 
}

.header {
    background-color: #e7e7e7; 
    opacity: 0.8;
}

.header-text {
    color: #f28d35;
}